*{
    margin: 0;
    padding: 0;
}
.container{
    height: 250vh;
    width: 100%;
    background-image: url(background.png);
    background-position:center;
    background-size: cover;
    padding-left: 5%; 
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;
}
.navbar{
    height: 20vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width:160px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 0px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
.content h1{
    font-size: 60px;
    font-weight:100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #a687d0;
}
.content{
    margin-left:10%;
    margin-top:10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #a687d0, #9f6ae9);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.feature-img{
    height:60%;
    position: relative;
    bottom: 0;
    right: 500;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px ;
}
.grid-item {
    background-color: white;
    padding-top: 60px;
    padding-right: 60px;
    padding-left:60px;
    border-width: 40px 40px 40px 40px;
    border-color: #0F0A60;
    border-style:solid;
    border-radius: 12%;
    padding: 140px;

}
